.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.headhshot-padding {
  margin-top: 20px;
}

.custom-button-padding {
  width: 15%;
  margin-right: 5%;
  margin-left: 5%;
}

.custom-padded-text {
  padding-bottom: 3%;
}

@media (max-width: 480px) {
  .custom-button-padding {
    width: 60%;
  }
}

.custom-tan {
  background-color: #e6e1da;
}

body {
  background-color: blueviolet;
}